<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web <%= title %></title>
    <script src="../js/libs/jquery-3.3.1.js" type="text/javascript"></script>
</head>
<body>
<div>
    <h1>Web <%= title %></h1>
    <form name="sign" action="../signup" method="post">
        <span>username:</span><input type="text" name="username">
        <br>
        <span>password:</span><input type="password" name="password">
        <br>
        <input type="submit"  value="Sign">
    </form>
    <img src="../images/remember.jpg">
</div>
</body>
</html>