<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="../css/menu.css" type="text/css" rel="stylesheet">
</head>
<body>
<!--<ul id="ul1">-->
<!--<li class="li1"><a href="#index">主页</a></li>-->
<!--<li class="li1"><a href="#index">联系</a></li>-->
<!--<li class="li1"><a href="#index">发现</a></li>-->
<!--<li class="li1"><a href="#index">关于</a></li>-->
<!--</ul>-->
<!--<br/>-->
<ul id="ul2">
    <li class="li2"><a href="#index">主页</a></li>
    <li class="li2"><a href="#index">联系</a></li>
    <li class="li2"><a href="#index">发现</a></li>
    <li class="li2"><a href="#index">关于</a></li>
</ul>
<div style="padding:20px;margin-top:20px;color:white;height:1500px;background-color: #00000000;" id="div1">
    <h1>Fixed Top Navigation Bar</h1>
    <h2>Scroll this page to see the effect</h2>
    <h2>The navigation bar will stay at the top of the page while scrolling</h2>

    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
</div>
</body>
</html>